{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}
{%block scripts%}
<script type="text/javascript" src="{{ asset('sistema/scripts/registrar-editar-evento.js')}}"></script>
<script type="text/javascript">var direccionBuscarCiudad = "{{path('proyecto_users_buscar_ciudad')}}";</script>

{%endblock%}

{%block contenedorbase%}
<div class="wrapper">

	{% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  with {'clase': 'rosa'}  %}

	<div class="rosa work mostrar" id="work-primero"  >
		<div class="aviso"   >
			<h2 class="izquierda">registrando tu evento.... </h2><h2 class="derecha">(1/4) </h2>
			<div class="clearfix"></div>
			<p>
				- No pagas nada.  </br>
				- Te alquilarán y pagarán online. </br>
				- Gestionarás tu calendario de reservas y cancelaciones gratis. </br>
				- Tendrás difusión y posicionamiento gratuito en internet.
			</p>

			<h2 class="izquierda">a cambio.... </h2>
			<div class="clearfix"></div>
			<p>
				- Esfuérzate definiendo bien con datos, fotos,.. ¡Tendrás más éxito!.   </br>
				- Lee las <a href="condiciones.html">Condiciones detalladas</a> que aceptas al registrar el evento. </br>
				- Nuestro premio es un  % ¡Sólo de las contrataciones reales que te consigamos! .
			</p>
		</div>
	</div>
	<!-- Text Section End -->

	<div class="rosa work" id=""  >
		<form action="{{ url }}" method="post" {{ form_enctype(form) }} id="formulario-registro">
			<div class="nuevo">

				<p>
					{{ form_errors(form) }}
				</p>

				<div class="formnuevo mostrar">

					<div class="clearfix"></div>

					<p>
						<strong>Registrar un nuevo evento como:</strong>
					</p></br>

					<p></p>

					<p>
						{{ form_widget(form.propietarioEmpleado) }}Propietario/a ó Empleado
					</p>

					<p>
						{{ form_widget(form.agenteComercial) }}Agente Comercial
					</p>

					<p>
						{{ form_widget(form.administradorWeb) }}Administrador de la Web
					</p>

					<p>
						&nbsp;
					</p>

					<div class="clearfix"></div>

					<div class="enviar">
						<a href="javascript:void(0)" class="siguiente-formulario" referencia="segundo" actual="primero">Siguiente</a>
					</div>

					<div class="clearfix"></div>

				</div>

				<div class="formnuevo ocultar">

					<h2 > Registrar nuevo evento (2/4)</h2>
					<p >
						&nbsp;
					</p>
					<p>
						Rellena los siguientes datos para registrar del nuevo evento:
					</p>

					<p>
						&nbsp;
					</p>

					{{ form_widget(form.nombre, { 'attr': {'class': 'formstyle','title': 'Nombre del Evento (Max 20 carácteres)'} }) }}

					<div class="clearfix"></div>

					{{ form_widget(form.descripcionGeneral, { 'attr': {'title': 'Descripción general'} }) }}

					<p>
						Se impartirá en la sede:
					</p>

					{{ form_widget(form.sede1, { 'attr': {'class': 'formstyle'} }) }}

					<p>
						Provincia
					</p>
					<select required="required" class="formstyle" id="form_provincia">
						{%for element in provincias%}
						<option value="{{element.id}}" {%if idProvincia ==element.id%}selected=""{%endif%}>{{element.nombre}}</option>
						{%endfor%}
					</select>

					<p>
						Localidad
					</p>
					{{ form_widget(form.localidad, { 'attr': {'class': 'formstyle'} }) }}

				
					{{ form_widget(form.duracionTotal, { 'attr': {'class': 'formstyle','title': 'Duración en Horas'} }) }}

					<div class="clearfix"></div>


					<p style="float:left">
						Añadir Imágenes
					</p>
					{{ form_widget(form.file, { 'attr': {'class': 'formstyle','accept':'image/*'} }) }}

					<div class="clearfix"></div>
					<!--<div class="enviar">
					+
					</div>
					<div class="clearfix"></div>
					<p style="float:left">
					Añadir Planos Jpeg
					</p>
					<div class="enviar">
					Buscar imagen ...
					</div>
					<div class="clearfix"></div>
					<div class="enviar">
					+
					</div>-->
					<div class="clearfix"></div>
					{{ form_widget(form.enlaceVideo, { 'attr': {'class': 'formstyle','title': 'Añadir enlace a Video'} }) }}

					<!--
					<div class="clearfix"></div>
					<div class="enviar">
					+
					</div>-->
					<div class="clearfix"></div>

					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
					<div class="clearfix"></div>

					<div class="enviar">
						<a href="javascript:void(0)" class="siguiente-formulario" referencia="tercero" actual="segundo">Siguiente</a>
					</div>
					<div class="enviar">
						<a href="javascript:void(0)" class="anterior-formulario" referencia="primero" actual="segundo">Anterior</a>
					</div>

					<div class="clearfix"></div>
				</div>

				<div class="formnuevo ocultar">

					<h2 > Registrar nuevo evento (3/4)</h2>
					<p>
						&nbsp;
					</p>




					<p>Tipo de Evento
						<strong>:</strong>
					</p>

					<p >
						{{ form_widget(form.formacionTeorica) }}
						Formación Teórica
					</p>

					<p >
						{{ form_widget(form.formacionInformatica) }}
						Formación Informática
					</p>

					<p >
						{{ form_widget(form.formacionTaller) }}
						Formación Taller
					</p>

					<p >
						{{ form_widget(form.exposicion) }}
						Exposición
					</p>

					<p >
						{{ form_widget(form.ventaFeria) }}
						Venta, feria
					</p>

					<p >
						{{ form_widget(form.deporte) }}
						Deporte
					</p>

					<p >
						{{ form_widget(form.espectaculo) }}
						Espectáculo
					</p>

					<p >
						{{ form_widget(form.reunionAsamblea) }}
						Reunión o asamblea
					</p>

					<p >
						{{ form_widget(form.boda) }}
						Boda
					</p>

					<p >
						{{ form_widget(form.fiesta) }}
						Fiesta
					</p>
					<p style="float:left; width:200px;">
						{{ form_widget(form.jardineria) }}
						Jardineria
					</p>


					<p>
						&nbsp;
					</p>
				    </br>

					<p>
						<strong>Equipamiento incluido:</strong> (si no es gratuito, <a href="#">regístralo</a> </br>con su precio como servicio adjunto al de la sede).
					</p>

					<p>
						{{ form_widget(form.proyectorPantallaSala) }} Proyector y pantalla de sala
					</p>

					<p >
						{{ form_widget(form.microfonoAltavoces) }}  Micrófono y altavoces
					</p>

					<p>
						{{ form_widget(form.videocamara) }} Videocámara
					</p>

					<p>
						&nbsp;
					</p>

					<p>
						{{ form_widget(form.wifi) }} WiFi
					</p>

					<p style="width:200px;">
						{{ form_widget(form.internetCable) }}Internet por Cable
					</p>

					<p>
						&nbsp;
					</p>

					<p style="width:200px;">
						{{ form_widget(form.maquinaBebidas) }}
						Máquina de bebidas
					</p>

					<p style="width:200px;">
						{{ form_widget(form.pizarra) }}  Pizarra
					</p>

					<p style="width:200px;">
						{{ form_widget(form.conserjeria) }}
						Conserjería
					</p>

					<p>
						&nbsp;
					</p>

					<p style="width:200px;">
						{{ form_widget(form.aireAcondicionado) }}  Aire acondicionado
					</p>

					<p style="width:200px;">
						{{ form_widget(form.calefaccion) }}
						Calefacción
					</p>

					<p>
						&nbsp;
					</p>

					{{ form_widget(form.otrosServicios, { 'attr': {'class': 'formstyle','title':'Otros...'} }) }}
					

					</br>

					<div class="clearfix"></div>

					<div class="clearfix"></div>
					<p>
						&nbsp;
					</p>

					<div class="enviar">
						<a href="javascript:void(0)" class="siguiente-formulario" referencia="cuarto" actual="tercero">Siguiente</a>
					</div>
					<div class="enviar">
						<a href="javascript:void(0)" class="anterior-formulario" referencia="segundo" actual="tercero">Anterior</a>
					</div>

					<div id="error"></div>
					<div class="clearfix"></div>
				</div>

				<div class="formnuevo ocultar">

					<h2 > Registrar nuevo evento (4/4)</h2>
					<p >
						&nbsp;
					</p>
					<p>
						<strong>Detalles de la reserva:</strong>
					</p>

					<p>
						{{ form_widget(form.aceptacionReservaAutomatica) }}
						Aceptación de la reserva automática
					</p>

					<p >
						{{ form_widget(form.tiempoMaximoAceptacionReservaAutomatica24h) }}
						Tiempo máximo de aceptación de reserva 24h
					</p>

					<p >
						{{ form_widget(form.tiempoMaximoAceptacionReservaAutomatica48) }}
						Tiempo máximo de aceptación de reserva 48h
					</p>

					<p >
						&nbsp;
					</p>

					<p >
						{{ form_widget(form.datosFacturacionPagoDelUsuario) }}
						Los datos de facturación y pago son los del usuario
					</p>

					<p >
						{{ form_widget(form.anadirDatosFacturacionPago) }}
						<a href="#"> Añadir datos de facturación y pago</a>
					</p>
					<p >
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
					<h3 > Precio</h3>

					<p>

						{{ form_widget(form.precio, { 'attr': {'class': 'formstyle','title':'Precio por Hora (Euros)','min':'0','step':'1','value':'0'} }) }}
					</p>
					<h3 > Precio por hora</h3>

					<p>

						{{ form_widget(form.precioPorHora, { 'attr': {'class': 'formstyle','title':'Precio por Hora (Euros)','min':'0','step':'1','value':'0'} }) }}
					</p>
					<p>
						&nbsp;
					</p>
					<div class="clearfix"></div>
					<p>
						{{ form_widget(form.aceptoCondicionesUsoPoliticaPrivacidad) }}
						<a href="#"> Acepto las condiciones de uso y la política de privacidad</a>
					</p>

					<div class="clearfix"></div>
					<p>
						&nbsp;
					</p>

					<div class="enviar">
						<a href="javascript:void(0)" class="siguiente-formulario" referencia="envio" actual="cuarto">Siguiente</a>
					</div>
					<div class="enviar">
						<a href="javascript:void(0)" class="anterior-formulario" referencia="tercero" actual="cuarto">Anterior</a>
					</div>

					<div id="error"></div>
					<div class="clearfix"></div>
				</div>

			</div>

			<div id="oculto" style="display:none">

				{{ form_rest(form) }}
			</div>
		</form>
		<!-- Work Links Section End -->
		<!-- Last Words Section End-->
		<div id="sedes" ></div>
	</div>

</div>
{%endblock%}