<div id="eventos" ></div>

<div id="work"  class="rosa rejilla-eventos"  paginacion="{{dataPaginacion.paginacion}}" proveedor="{{proveedor}}" cliente="{{cliente}}" idRelacionado="{{idRelacionado}}">
	<!-- Work Links Section Start -->
	<div class="añadir">
		<a href="{{path('proyecto_principal_evento_registrar')}}">{{titulo}}</a><!--/item-->
	</div>
	<div class="buscador">
		<select name="localidad" class="formstyle">
			<option value="0"> Ciudad </option>
			<option value="0"> Todas </option>
            {%for element in localidades%}
            <option value="{{element.id}}"> {{element.nombre|title}}({{element.c}}) </option>
            {%endfor%}
		</select>
	</div><!--/item-->

	<div class="buscador">
		<select name="disponibilidad" class="formstyle">
			<option value="0"> Disponibilidad </option>
			{#<option value="Madrid"> Todo </option>

			<option value="Madrid"> Enero </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;fin de semana </option>

			<option value="Madrid"> Febrero </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; fin de semana </option>

			<option value="Madrid"> Marzo </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; fin de semana </option>

			<option value="Madrid"> Abril </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; fin de semana </option>

			<option value="Madrid"> Mayo </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; fin de semana </option>

			<option value="Madrid"> Junio </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; fin de semana </option>

			<option value="Madrid"> Julio </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; fin de semana </option>

			<option value="Madrid"> Agosto </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  fin de semana </option>

			<option value="Madrid"> Septiembre </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  fin de semana </option>

			<option value="Madrid"> Octubre </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  fin de semana </option>

			<option value="Madrid"> Noviembre </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  fin de semana </option>

			<option value="Madrid"> Diciembre </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:00-14:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14:00-22:00 </option>
			<option value="Barcelona" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  fin de semana </option>
     #}
		</select>
	</div><!--/item-->
<!--
	<div class="buscador">
		<select name="precioHora" class="formstyle">
			<option value="0"> Coste por hora (€/h) </option>
			<option value="0"> Todos </option>
			<option value="1"> Gratis </option>
			<option value="20">hasta 20</option>
			<option value="300"> hasta 300</option>
			<option value="1000"> hasta 1000</option>
			<option value="1001"> más de 1000</option>
		</select>
	</div>
-->
	<div class="buscador">
		<select  name="precio" class="formstyle">
			<option value="0"> Precio (€) </option>
			<option value="0"> Todos </option>
			<option value="1"> Gratis </option>
			<option value="20">hasta 20</option>
			<option value="100"> hasta 100</option>
			<option value="300"> hasta 300</option>
			<option value="1000"> hasta 1000</option>
			<option value="5000"> hasta 5000</option>
			<option value="10000"> hasta 10000</option>
			<option value="10001"> más de 10000</option>
		</select>
	</div><!--/item-->
	<div class="añadir">
		<ul>
			<li>
				<a href="{{path('proyecto_principal_evento_registrar')}}"><img class="icon" src="{{ asset('sistema/images/icons/mas.png')}}" width="27" height="27" title="Añadir Gratis"></a>
			</li>
			<li style="float:right;">
				<a href="javascript:void(0)" id="buscarEvento" numResults="{{dataPaginacion.numResults}}"><img class="icon" src="{{ asset('sistema/images/icons/buscar.png')}}" width="27" height="27" alt="Buscar"></a>
			</li>
		</ul>
	</div>


	<div class="buscador">
		<select name="duracionTotal" class="formstyle">
			<option value="0">Duración Total (h) </option>
			<option value="0"> Todos </option>
			<option value="1"> 1 </option>
			<option value="4">hasta 4</option>
			<option value="30"> hasta 30</option>
			<option value="100"> hasta 100</option>
			<option value="300"> hasta 300</option>
			<option value="301"> más de 300</option>
		</select>
	</div><!--/item-->

	<div class="buscador">
		<select   name="actividades" class="formstyle">
			<option value="0"> Actividades Posibles </option>
			<option value="0"> Todas </option>
			<option value="formacionTeorica"> Formación Teórica</option>
			<option value="formacionInformatica"> Formación Informática </option>
			<option value="formacionTaller"> Formación Taller</option>
		    <option value="exposicion"> Exposicion</option>	
            <option value="ventaFeria"> Venta, Feria</option>
			<option value="deporte"> Deporte</option>
			<option value="espectaculo"> Espectáculo</option>
			<option value="reunionAsamblea"> Reunión o asamblea</option>
			<option value="boda"> Boda</option>
			<option value="fiesta"> Fiesta</option>
			<option value="jardineria"> Jardín</option>
		</select>
	</div><!--/item-->
	<div class="clearfix"></div>

    <div id="elementos-evento-rosa">
	{% include 'ProyectoPrincipalBundle:Evento:elementos.html.twig'  with {'elementos': elementos} %}
    </div>
	<div class="clearfix"></div>
	<div id="contador" class="paginacion-rosa">
		{% include 'ProyectoPrincipalBundle:Evento:paginacion.html.twig' with {'dataPaginacion': dataPaginacion} %}
	</div>
	<div class="clearfix"></div>
	<div id="loader-widget-rosa" style="display:none;height:{%if numResults== 4%}150{%else%}260{%endif%}px;">
       <p style="text-align:center;width: 100%;margin-top: {%if numResults== 4%}73{%else%}168{%endif%}px;"><img src="{{ asset('sistema/images/loader-rosa.gif')}}" title="Cargando eventos" style="width:80px;"></p>
	</div>
</div>