{% extends "::base.html.twig" %}

{%block scripts%}
{% include 'ProyectoPrincipalBundle:Gestion:scriptsGestion.html.twig' %}
{%endblock%}

{%block contenedorbase%}
<div class="wrapper">

	{% include '::top.html.twig'  with {'clase': color}  %}
	{% include '::sesion.html.twig'  with {'datos': datos} %}

	{% include 'ProyectoPrincipalBundle:Gestion:cabecera.html.twig'  with {'gestion': gestion} %}

	<div id="work" class="{{color}}" style="width: 820px;height: 480px;">
		<div class="clearfix"></div>
		<!-- Work Links Section Start -->
		<div class="a単adir" style="width: 350px;text-align: left;">
			<a href="javascript:void(0)">{{gestion.grafica}}</a><!--/item-->
		</div>
		</br>
		<div style="margin-top: 20px;padding-top: 20px;">
			<!--/item-->
			<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="clearfix"></div>
</div><!--/html_carousel-->

{{ form_start(form, { 'attr': {'id': 'formularioGestion'}}) }}
<div id="work" class="{{color}}" style="width: 820px;">
	<!-- Work Links Section Start -->
	<div class="a単adir" >
		<a href="javascript:void(0)">{{gestion.widget}}</a><!--/item-->
	</div>
	<div class="buscador">
		{{ form_widget(form.nombre, { 'attr': {'class': 'input-gestion','placeholder':'Nombre'} }) }}
	</div>
	<div class="buscador">
		{{ form_widget(form.localidad, { 'attr': {'class': 'formstyle selectBusqueda'} }) }}
	</div>
	<div class="buscador">
		{{ form_widget(form.user, { 'attr': {'class': 'formstyle selectBusqueda'} }) }}
	</div>
	<div class="a単adir">
		<ul>
			<li>
				<a href="{{gestion.urlCrear}}"><img class="icon" src="{{ asset('sistema/images/icons/mas.png')}}" width="27" height="27" title="A単adir Gratis"></a>
			</li>
			<li style="float:right;">
				<a href="javascript:void(0)" id="buscarGestion" numresults="8"><img class="icon" src="{{ asset('sistema/images/icons/buscar.png')}}" width="27" height="27" alt="Buscar"></a>
			</li>
		</ul>
	</div>
	<div class="buscador">
		{{ form_widget(form.destacado, { 'attr': {'class': 'formstyle selectBusqueda'} }) }}
	</div>
	<div class="buscador">
		{{ form_widget(form.estado, { 'attr': {'class': 'formstyle selectBusqueda'} }) }}
	</div>
	<div class="buscador">
        {{ form_widget(form.suspendido, { 'attr': {'class': 'formstyle selectBusqueda'} }) }}
	</div>

	<div class="clearfix"></div>
	<div style="margin-top: 9px;">

		<!--/item-->
		<table class="t-gestion">
			<tr>
				<td class="t-titulo t-azul">{{ knp_pagination_sortable(pagination, 'Id', 'o.id') }}</td>
				<td class="t-titulo t-azul" ><a href="javascript:void(0)">Foto</a></td>
				<td class="t-titulo t-azul">{{ knp_pagination_sortable(pagination, 'Nombre', 'o.nombre') }}</td>
				<td class="t-titulo t-azul">{{ knp_pagination_sortable(pagination, 'Localidad', 'o.localidad') }}</td>
				<td class="t-titulo t-azul">{{ knp_pagination_sortable(pagination, 'Fecha Registro', 'o.fechaRegistro') }}</td>
				<td class="t-titulo t-azul">{{ knp_pagination_sortable(pagination, 'Destacado', 'o.destacado') }}</td>
				<td class="t-titulo t-azul">{{ knp_pagination_sortable(pagination, 'Estado', 'o.estado') }}</td>
				<td class="t-titulo t-azul">{{ knp_pagination_sortable(pagination, 'Suspendido', 'o.suspendido') }}</td>
			</tr>
			{% for element in pagination %}
			<tr {% if loop.index is odd %}style="background-color: #F1F1F0;"{% endif %}>
				<td>{{ element.id }}</td>
				<td  class="gestion-imagen"><img src="{%if element.path is not null%}{{ element.getWebPath | apply_filter('gestion') }}{%endif%}"></td>
				<td>{{ element.nombre }}</td>
				<td>{{ element.localidad.nombre }}</td>
				<td>{{ element.fechaRegistro.format('d/m/Y') }}</td>
				<td class="funcionGestion" tipo="espacio" tarea="destacado" identificador="{{ element.id }}">{%if element.destacado %}Si{%else%}No{%endif%}</td>
				<td class="funcionGestion" tipo="espacio" tarea="estado" identificador="{{ element.id }}">{%if element.estado %}Activo{%else%}Inactivo{%endif%}</td>
				<td class="funcionGestion" tipo="espacio" tarea="suspendido"  identificador="{{ element.id }}">{%if element.suspendido %}Si{%else%}No{%endif%}</td>
			</tr>
			{%endfor%}
		</table>
	</div>
	<div class="clearfix"></div>
	<div id="contador" class="paginacion-{{color}}">
		<span style="color:" class=""> {{ knp_pagination_render(pagination) }}</span>
		<span style="color: #000;" class="">  {{ pagination.getTotalItemCount }} Resultados</span>
	</div>
</div>
{{ form_end(form) }}
<div class="clearfix"></div>
</div><!--/html_carousel-->
{%endblock%} 