{% trans_default_domain 'FOSUserBundle' %}
<div class="wrapper">

	{% include 'ProjectLayoutBundle:Structure:top.html.twig'  with {'clase': 'gris'}  %}
	<!-- Text Section End -->

	<header>
		<!-- Header Title Start -->
		<h1>&nbsp;</h1>

	</header>
	<!-- Header Title End -->

	<div class="inicio">
		<div id="forminicio">
			<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
				{{ form_start(form) }}

				<h3 >Inscríbete gratis</h3>

				<h4>{{ form_errors(form) }}</h4>

				<p>
					Rellena los siguientes datos para crear un perfil de usuario
				</p>
				<p>
					Datos de acceso
				</p>
				{{ form_widget(form.username, { 'attr': {'class': 'formstyle','placeholder': 'Usuario'} }) }}
				{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'formstyle','placeholder': 'Contraseña'} }) }}
				{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'formstyle','placeholder': 'Repita la contraseña'} }) }}

				{{ form_widget(form.email, { 'attr': {'class': 'formstyle','placeholder': 'E-Mail'} }) }}
				{{ form_widget(form.nombre, { 'attr': {'class': 'formstyle','placeholder': 'Nombre'} }) }}
				{{ form_widget(form.apellido, { 'attr': {'class': 'formstyle','placeholder': 'Apellidos'} }) }}
				{{ form_widget(form.telefono, { 'attr': {'class': 'formstyle','placeholder': 'Telefono'} }) }}
				{{ form_widget(form.profesion, { 'attr': {'class': 'formstyle','placeholder': 'Profesion'} }) }}


				<p style="float:left">
					Foto de perfil (JEPG/ GIF máx. 2MG)
				</p><!-- <div class="enviar">Buscar imagen .. Examinar</div>-->

				{{ form_widget(form.file, { 'attr': {'class': 'formstyle','accept':'image/*'} }) }}
				{{ form_widget(form.descripcion, { 'attr': {'placeholder': 'Escribe Algo sobre ti'} }) }}
				<p>
					País
				</p>				
				{{ form_widget(form.pais, { 'attr': {'class': 'formstyle','placeholder': 'Pais','value': 'España','readonly': ''} }) }}
				<p>
					Provincia
				</p>
				{{ form_widget(form.provincia, { 'attr': {'class': 'formstyle'} }) }}
				<p>
					Localidad
				</p>
				{{ form_widget(form.idLocalidad, { 'attr': {'class': 'formstyle'} }) }}
				
				<p>
					¿Cómo nos ha conocido?
				</p>
				{{ form_widget(form.marketing, { 'attr': {'class': 'formstyle'} }) }}

				<p>
					{{ form_widget(form.eventos) }}Disponible para organizar eventos
				</p>
				<p>
					{{ form_widget(form.aceptoCondiciones) }}Acepto condiciones
				</p>


				<input type="submit" class="botonSubmitFormulario formstyle " value="Registrarme">
				</br>
				</br>
				¿Ud tiene una cuenta? <a href="{{ path('fos_user_security_login') }}"><b>Acceda</b></a>
				</br>

				
				<p>
					&nbsp;
				</p>
				<div class="clearfix"></div>
{{ form_end(form) }}
			</form>
		</div>

		<div id="loader" style="display:none">
			<p style="text-align:center">
				<img src="{{asset('sistema/images/loader.gif')}}" style="width: 100px;">
			</p>
		</div>
		<div id="error"></div>
		<div class="clearfix"></div>
		<!--  <p> <input name="condiciones" type="checkbox" >
		<a href="ayuda.html"> Acepto las condiciones de uso y la política de privacidad</a></p></div>-->
	</div>
	<div class="clearfix"></div>
	<div id="espacios" ></div>
	<div id="eventos" ></div>
	<div id="servicios" ></div>
	<div class="clearfix"></div>

	<!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

	<!-- DON'T TOUCH THIS SECTION -->
</div>