{% extends "ProjectLayoutBundle:Structure:base.html.twig" %}

{%block estilos%}
	{% include 'ProjectFrontBundle:Helpers:estilosIndividual.html.twig' %}
{%endblock%}

{%block scripts%}
	{% include 'ProjectFrontBundle:Helpers:scriptsIndividual.html.twig'  with {'clase': 'rosa'}  %}
    <script type="text/javascript">
        var direccionEditar = "{{path('project_front_evento_editar',{'id':object.id})}}";
        var direccionFuncion = "{{path('project_front_helpers_funcion')}}";
    </script>
{%endblock%}

{%block contenedorbase%}
<div class="wrapper">

{% include 'ProjectLayoutBundle:Structure:top.html.twig'  with {'clase': 'rosa'}  %}
{% include 'ProjectLayoutBundle:Structure:sesion.html.twig'  with {'datos': datos} %}

<aside id="about" class=" left">
	<!-- Text Section Start -->
	<!-- Replace all text with what you want -->

	<div class="leftid">
		Organiza
			<a href="#"><img src="{{ asset(object.user.getWebPath ) }}" alt="{{object.user.nombre}}" width="400" height="300" style="width:78px;height:78px;"></a>
	</div>

	<div class="leftimg">
		<img src="{{ asset(object.getWebPath) }}" alt="" style="width:270px;height:230px;">
	</div>

	<div style="text-align:left; margin-top:50px;" >
		<a href="{{path('project_front_evento_reservar',{'id':object.id})}}" title="Reservar">
			<div id='calendar'></div>
		</a>
	</div>

</aside>
<aside class="right">

	<div class="fichaizq">
		<h3>{{object.nombre|title}}</h3>

		<ul>
			<li class="izquierda">
				<h4><a href="espacio.html">Espacio 1¿?</a>, <a href="#">Sede¿?</a></h4>
			</li>
			<li class="derecha">
				<h4><a href="sede.html" style="margin-left:5px">Cómo llegar.¿?</a></h4>
			</li>
		</ul><!--Category-->

		<div class="clearfix"></div>
		<p>
				{{object.descripcionGeneral}}
		</p>

	</div>

	<div class="fichader">
		<div id="precio" class="rosa">
			<h3> {{object.precio}} </h3>
			<h4> € </h4>
		</div>
			<a href="{{path('project_front_evento_reservar',{'id':object.id})}}">Reservar</a>
	</div>
	<div class="clearfix"></div>
	<h4>Detalles</h4>
	<div class="clearfix"></div>
	<div class="atributos">

		<ul>
			<li>
				Superficie¿?: <span>21 m2 </span>
			</li>
			<li>
				Aforo Modo Salon¿?: <span> 30 </span>
			</li>
			<li>
				Aforo Modo Cocktail¿?: <span> 30 </span>
			</li>
			<li>
				Aforo Modo Aula¿?: <span> 30 </span>
			</li>
			<li>
				Aforo Modo Escenario¿?: <span> 50 </span>
			</li>
			<li>
				Aforo Modo Expo¿?: <span> 50 </span>
			</li>
			<li>
				Asientos¿?: <span> Si </span>
			</li>
			<li>
				Exterior¿?: <span> Si </span>
			</li>
			<li>
				Permite oscurecer¿? : <span> No </span>
			</li>
			<li>
				Decoración¿?: <span> Moderna </span>
			</li>
			<li>
				Proyector¿?: <span> Opcional </span>
			</li>
			<li>
				Espacio Espera¿?: <span> No </span>
			</li>
			<li>
				Accesible minusválidos: <span> Si </span>
			</li>

		</ul><!--Category-->
	</div>
    {%if userId == object.user.id%}
	<div class="clearfix"></div>		
	<div  class="work rosa" id="editarElemento" style="width: 61px;float: left;cursor:pointer;margin-left:10px;margin-top: 30px;" >
		<h3 class="" >Editar </h3>
	</div>
	<div  class="work rosa" id="publicarElemento" tipo="evento" tarea="estado"  identificador="{{ object.id }}" style="width: 75px;float: left;margin-left:10px;cursor:pointer;margin-top: 30px;" >
		<h3 class="elementoEstado" >{%if object.estado%}Eliminar{%else%}Publicar{%endif%}</h3>
	</div>
	{%endif%}
</aside>
<div class="clearfix"></div>
<!-- Text Section End -->
	{% render controller('ProjectFrontBundle:Evento:widget', {  'titulo':'Eventos','numResults': 8,'paginacion':false,'proveedor':false,'cliente':false,'idRelacionado':0 }) %}
<!-- Work Links Section End -->

<div class="clearfix"></div>
</div>
{%endblock%} 