{% extends "::base.html.twig" %}

{%block estilos%}
	{% include 'ProjectFrontBundle:Helpers:estilosIndividual.html.twig' %}
{%endblock%}

{%block scripts%}
	{% include 'ProjectFrontBundle:Helpers:scriptsIndividual.html.twig'  with {'clase': 'rosa'}  %}
    <script type="text/javascript">
        var direccionEditar = "{{path('project_front_servicio_editar',{'id':object.id})}}";
        var direccionFuncion = "{{path('project_front_helpers_funcion')}}";
    </script>
{%endblock%}

{%block contenedorbase%}
<div class="wrapper">

	{% include '::top.html.twig'   with {'clase': 'azul'}  %}
	{% include '::sesion.html.twig'  with {'datos': datos} %}

	<aside id="about" class=" left">
		<!-- Text Section Start -->

		<!-- Replace all text with what you want -->

		<div class="leftid">
			Organiza
			<a href="#"><img src="{{ asset(object.user.getWebPath ) }}" alt="{{object.user.nombre}}" width="400" height="300" style="width:78px;height:78px;"></a>
		</div>

		<div class="leftimg">
			<img src="{{ asset(object.getWebPath) }}" alt="" style="width:270px;height:230px;">
		</div>

		<div style="text-align:left; margin-top:50px;" >
			<a href="{{path('project_front_servicio_reservar',{'id':object.id})}}" title="Reservar">
				<div id='calendar'></div>
			</a>
		</div>

	</aside>

	<aside class="right">

		<div class="fichaizq">
			<h3>{{object.nombre|title}}</h3>

			<ul>
				<li class="izquierda">
					<h4>Subtitulo¿?</h4>
				</li>
				<li class="derecha"></li>
			</ul><!--Category-->

			<div class="clearfix"></div>
			<p>
				{{object.descripcionGeneral}}
			</p>

			<h4>Incluye¿?</h4>
			<div class="clearfix"></div>
			<div class="atributos">

				<ul>

					<li>
						Diseño de 1 página
					</li>
					<li>
						Invitación html
					</li>
					<li>
						Confirmación de Invitados
					</li>
					<li>
						Dominio
					</li>

				</ul><!--Category-->
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="fichader">
			<div id="precio" class="azul">
				<h3> {{object.precioPorHora}} </h3>
				<h4> € </h4>
			</div>
			<a href="{{path('project_front_servicio_reservar',{'id':object.id})}}">Reservar</a>
		</div>
	<div class="clearfix"></div>
	<h4>Detalles</h4>
	<div class="clearfix"></div>
	<div class="atributos">

	</div>
    {%if userId == object.user.id%}
	<div class="clearfix"></div>		
	<div  class="work azul" id="editarElemento" style="width: 61px;float: left;cursor:pointer;margin-left:10px;margin-top: 30px;" >
		<h3 class="" >Editar </h3>
	</div>
	<div  class="work azul" id="publicarElemento" tipo="servicio" tarea="estado"  identificador="{{ object.id }}" style="width: 75px;float: left;margin-left:10px;cursor:pointer;margin-top: 30px;" >
		<h3 class="elementoEstado" >{%if object.estado%}Eliminar{%else%}Publicar{%endif%}</h3>
	</div>
	{%endif%}
	</aside>
	<div class="clearfix"></div>
	<!-- Text Section End -->
	{% render controller('ProjectFrontBundle:Servicio:widget', {  'titulo':'Servicios','numResults': 8,'paginacion':false,'proveedor':false,'cliente':false,'idRelacionado':0 }) %}
	<div class="clearfix"></div>
</div>
<!-- Work Links Section End -->
<!-- Work Links Section End -->

<div class="clearfix"></div>

{%endblock%} 