{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="wrapper">

 {% include '::top.html.twig'  with {'clase': 'gris'}  %}
    <!-- Text Section End -->
    
  <header>	<!-- Header Title Start -->
    	<h1>&nbsp;</h1>
       
  </header>	<!-- Header Title End -->
  
  <div class="inicio">   
    <div id="forminicio">
      <h3 >Inicio de Sesión</h3>    
      	{% if error %}
		<p>{{ error|trans }}</p>
	    {%endif%}

	  <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post"/>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


        <p>   Si ya está registrado, por favor, introduzca su nombre de usuario y contraseña para Iniciar su sesión                   
          </p>
        <p>{{ 'security.login.username'|trans }} </p>
          <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ last_username }}" required="required" class="formstyle"/>

        <p>{{ 'security.login.password'|trans }} </p>
		  <input type="password" id="password" name="_password" required="required" class="formstyle"/>


        <p>{{ 'security.login.remember_me'|trans }} </p>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

        <div class="clearfix"></div>        

									<button type="submit" class="enviar">
										{{ 'security.login.submit'|trans }}
									</button>
									 <input type="hidden" name="_target_path" value="/direccionador" />
      </form>

      <div id="error"></div>
      <div class="clearfix"></div>
      <p>¿No tiene cuenta? <a href="{{ path('fos_user_registration_register') }}">Registrese aquí</a></p>
	  <p>¿Olvido su contraseña? <a href="{{ path('fos_user_resetting_request') }}">Solicite una nueva</a></p>

    </div>
  </div> 
  <div class="clearfix"></div>
  <div id="espacios" ></div>
  <div id="eventos" ></div>
  <div id="servicios" ></div>
  <div class="clearfix"></div>
</div> 





{% endblock fos_user_content %}
