		{%if dataPaginacion.paginacion == false%}
		<a href="{{ path('proyecto_principal_servicio_grupal') }}">{{dataPaginacion.obtenidos}} de {{dataPaginacion.total}} (Ver más)</a>
		{%else%}
		

        {% for i in range(1, dataPaginacion.numPaginacion) %}
         <span style="cursor:pointer;color: #FFF;" class="numero-paginacion-azul" indice="{{ i - 1}}" numResults="{{dataPaginacion.numResults }}">{{ i }}</span>&nbsp; 
        {% endfor %}
		<span style="color: #000;" class=""> {{dataPaginacion.total}} Resultados</span>
		{%endif%}