<div id="servicios" ></div>
<div id="work"  class="azul  rejilla-servicios"  paginacion="{{dataPaginacion.paginacion}}" proveedor="{{proveedor}}" cliente="{{cliente}}" idRelacionado="{{idRelacionado}}">
	<!-- Work Links Section Start -->
	<div class="añadir">
		<a href="{{path('proyecto_principal_servicio_registrar')}}">{{titulo}}</a><!--/item-->
	</div>
	<div class="buscador">
		<select name="ofrecidosPor" class="formstyle">
			<option value="0"> Ofrecidos por.. </option>
			<option value="ofrecidosTodos">Todos </option>
			<option value="sedePropiosEventos">…una sede para sus propios eventos</option>
			<option value="empresaEventosOtros">…una empresa para eventos de otros </option>
		</select>
	</div><!--/item-->

	<div class="buscador">
		<select name="multimedia"  class="formstyle">
			<option value="0">Multimedia </option>
			<option value="todosMultimedia">Todos </option>
			<option value="grabacionEdicionVideo">Grabación y edición vídeo </option>
			<option value="fotografoEvento">Fotógrafo del evento </option>
			<option value="alquilerCamaras">Alquiler cámaras </option>
			<option value="alquilerPortatiles">Alquiler portátiles </option>
			<option value="alquilerProyectoresPantallas">Alquiler proyectores y pantallas </option>
			<option value="sonidoMicrofonoAltavoces">Sonido, Micrófono y altavoces </option>
			<option value="iluminacion">Iluminación </option>
		</select>
	</div><!--/item-->

	<div class="buscador">
		<select name="mejoraEspacios" class="formstyle">
			<option value="0">Mejora de espacios </option>
			<option value="todosMejoraEspacios">Todos </option>
			<option value="decoracionAccesorios">Decoración con accesorios </option>
			<option value="floristeria">Floristería </option>
			<option value="disenioExposicionesTemporales">Diseño de exposiciones temporales. </option>
			<option value="montajeExposicion">Montaje de exposición</option>
			<option value="escenografia">Escenografía</option>
			<option value="rehabilitacionArquitectnica">Rehabilitación arquitectónica </option>
			<option value="limpiezaNormalIntensivo">Limpieza (uso normal e intensivo)  </option>
			<option value="seguros">Seguros  </option>

		</select>
	</div><!--/item-->

	<div class="añadir">
		<ul>
			<li>
				<a href="{{path('proyecto_principal_servicio_registrar')}}"><img class="icon" src="{{ asset('sistema/images/icons/mas.png')}}" width="27" height="27" title="Añadir Gratis"></a>
			</li>
			<li style="float:right;">
				<a href="javascript:void(0)" id="buscarServicio" numResults="{{dataPaginacion.numResults}}"><img class="icon" src="{{ asset('sistema/images/icons/buscar.png')}}" width="27" height="27" alt="Buscar"></a>
			</li>
		</ul>
	</div>
	<div class="buscador">
		<select name="mejoraContenidos" class="formstyle">
			<option value="0">Mejora de contenidos </option>
			<option value="todosMejoradeContenidos">Todos </option>
			<option value="impresionGrabacionDocs">Impresión  y grabación docs </option>
			<option value="transporteMercancias">Transporte de mercancías </option>
			<option value="envios">Envíos </option>
			<option value="mobiliarioAulaTallerRecepcion">Mobiliario aula, taller, recepción...</option>
			<option value="accesoriosFormacionPizarras">Accesorios formación (Pizarras...)</option>
			<option value="papeleriaNormalCorporativa">Papelería normal y corporativa </option>
			<option value="internetCable">Internet cable  </option>
			<option value="internetWifiContenidos">Internet WIFI </option>
			<option value="animacion">Animación </option>
			<option value="interpretacionMusical">Interpretación musical </option>
			<option value="interpretacionTeatral">Interpretación teatral </option>
		</select>
	</div><!--/item-->

	<div class="buscador">
		<select name="servicioAsistentes" class="formstyle">
			<option value="0">Servicio para asistentes </option>
			<option value="todosServicioAsistentes">Todos </option>
			<option value="catering">Catering</option>
			<option value="azafatas">Azafatas</option>
			<option value="recepcionista">Recepcionista </option>
			<option value="traduccion">Traducción</option>
			<option value="interpretes">Intérpretes</option>
			<option value="receptoresAuricularEscucharInterprete">Receptores con auricular para escuchar intérprete </option>
			<option value="alojamiento">Alojamiento </option>
			<option value="internetWifiAsistentes">Internet WIFI </option>
			<option value="viaje">Viaje </option>
			<option value="transporteLocalAsistentes">Transporte local de asistentes </option>
			<option value="guiaAcompanianteAsistentes">Guía o acompañante para asistentes </option>
		</select>
	</div><!--/item-->

	<div class="buscador">
		<select name="imagenCorporativa" class="formstyle">
			<option value="0"> Imagen Corporativa </option>
			<option value="todosImagenCorporativa"> Todos </option>
			<option value="logosDocsCorporativos">Logos y docs corporativos</option>
			<option value="webEventoSede">Web del evento o de la Sede</option>
			<option value="impresionGrabacion">Impresión  y grabación </option>
			<option value="repartoPublicitario">Reparto publicitario</option>
			<option value="posicionamiento">Posicionamiento</option>
			<option value="communityManagement">Community Management </option>
			<option value="difusionInternet">Difusión en internet </option>
			<option value="difusionOtrosMedios">Difusión otros medios </option>
			<option value="emisionOnlinePaginaEvento">Emisión online en página del evento</option>
		</select>
	</div><!--/item-->

    <div id="elementos-servicio-azul">
	{% include 'ProyectoPrincipalBundle:Servicio:elementos.html.twig'  with {'elementos': elementos} %}
    </div>
	<div class="clearfix"></div>
	<div id="contador" class="paginacion-azul">
		{% include 'ProyectoPrincipalBundle:Servicio:paginacion.html.twig' with {'dataPaginacion': dataPaginacion} %}
	</div>
	<div class="clearfix"></div>
	<div id="loader-widget-azul" style="display:none;height:{%if numResults== 4%}150{%else%}260{%endif%}px;">
       <p style="text-align:center;width: 100%;margin-top: {%if numResults== 4%}73{%else%}168{%endif%}px;"><img src="{{ asset('sistema/images/loader-azul.gif')}}" title="Cargando servicios" style="width:80px;"></p>
	</div>
</div>
