{% extends "::base.html.twig" %}

{%block scripts%}
<script type="text/javascript" src="{{ asset('sistema/scripts/jquery.form.js')}}"></script>

<script type="text/javascript" src="{{ asset('sistema/scripts/perfil.js')}}"></script>

<script type="text/javascript">
	var direccionNotiticacionReserva = "{{path('proyecto_perfil_notificacion_reserva')}}";
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUY1Omfl_gVZyliOZWXKUYaLG3O0JIleI&sensor=false"></script>
<script>
var markers = new Array({{sedes | length}});
var map;
var mapOptions = {
	center : new google.maps.LatLng(39.656456, -3.493652),
	zoom : 6
};

function initialize() {

map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

	{%for element in sedes%}
	markers[{{loop.index0}}] = new google.maps.Marker({
		position: new google.maps.LatLng({{element.latitud}}, {{element.longitud}}), map: map,
		title: '{{element.nombre}}'});
	{%endfor%}

}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

{%endblock%}
{%block estilos%}
<style>
	html, body, #map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px
	}
</style>

{%endblock%}

{%block contenedorbase%}
<div class="wrapper">

	{% include '::top.html.twig'  with {'clase': 'gris'}  %}
	{% include '::sesion.html.twig'  with {'datos': datos} %}

	<aside id="about" class=" left">
		<!-- Text Section Start -->
		<!-- Replace all text with what you want -->

		<div class="perfilimg">
			<p><img src="{{ asset(''~ user.getWebPath ~'') }}" width="400" height="300">
			</p>
			<p>
				<a href="{{path('proyecto_perfil_privado')}}">Volver</a>
			</p>
			<p>
				&nbsp;
			</p>
		</div>
	</aside>
	<aside class="right">
		<div class="sede" style="margin-top:2%;" >
			<h3>{{user.nombre|title}} {{user.apellido|title}} </h3>
			<ul>
				<li class="izquierda">
					<h4> Notificaciones</h4>
				</li>
				<li class="izquierda"></li>
				<li class="derecha">
					<h4>&nbsp;</h4>
				</li>
			</ul>
			<!--Category-->
			<div class="clearfix"></div>
            {%for elemento in activas%}
                {%set color = ''%}
                {%set nombre = ''%}

                {%if elemento.espacio is not null %}
                    {%set color = 'verde'%}   
                    {%set nombre = elemento.espacio.nombre%}    
                    {%set url = path('proyecto_principal_espacio_reservar',{'id':elemento.espacio.id}) %}            
                {%elseif elemento.sede is not null %}
                    {%set color = 'amarillo'%}
                    {%set nombre = elemento.sede.nombre%}
                    {%set url = path('proyecto_principal_sede_reservar',{'id':elemento.sede.id}) %}   
                {%elseif elemento.servicio is not null%}
                    {%set color = 'azul'%}
                    {%set nombre = elemento.servicio.nombre%}
                    {%set url = path('proyecto_principal_servicio_reservar',{'id':elemento.servicio.id}) %}   
                {%elseif elemento.evento is not null%}
                    {%set color = 'rosa'%}
                    {%set nombre = elemento.evento.nombre%}
                    {%set url = path('proyecto_principal_evento_reservar',{'id':elemento.evento.id}) %}   
                {%endif%}

			<div class="datos" style="margin-top:3%;">
				<p>
					{{elemento.fechaInicio.format('d/m/Y')}}  <a href="reservas.html" class="{{color}}">&nbsp;&nbsp;&nbsp;cod-{{elemento.id}}&nbsp;&nbsp;&nbsp;</a>
					{#<span id="circulo" class="verde"> </span>#}
					<a href="{{url}}"> {{nombre}} </a>
				</p>
				<p>
					&nbsp;
				</p>
                {%if elemento.evento is  null%}
				<p>
					Fecha de inicio: <strong>{{elemento.fechaInicio.format('d/m/Y H:i:s')}} </strong>
				</p>
				<p>
					Fecha de finalización: <strong>{{elemento.fechaFin.format('d/m/Y H:i:s')}} </strong>
				</p>
                {%else%}
				<p>
					Fecha del evento: <strong>{{elemento.fechaInicio.format('d/m/Y H:i:s')}} </strong>
				</p>
                {%endif%}


				<p>
					Estado de la Reserva: <strong class="estado-reserva">{%if elemento.aprobado%}Aprobada{%else%}Pendiente de Aprobación{%endif%} </strong>
				</p>
				<div class="otras">
					<h4>{%if elemento.aprobado==false%}
						<a href="javascript:void(0)" reserva="{{elemento.id}}" id="botonAprobarReserva">Aprobar Reserva</a>
						{%endif%}
					</h4>
				</div>
			</div>
			<div class="clearfix"></div>

			{%endfor%}

			<div class="clearfix"></div>
			<h4>Noticicaciones Anteriores</h4>

            {%for elemento in pasadas%}
            {%if elemento.oculto == false%}
                {%set color = ''%}
                {%set nombre = ''%}

                {%if elemento.espacio is not null %}
                    {%set color = 'verde'%}   
                    {%set nombre = elemento.espacio.nombre%}    
                    {%set url = path('proyecto_principal_espacio_reservar',{'id':elemento.espacio.id}) %}            
                {%elseif elemento.sede is not null %}
                    {%set color = 'amarillo'%}
                    {%set nombre = elemento.sede.nombre%}
                    {%set url = path('proyecto_principal_sede_reservar',{'id':elemento.sede.id}) %}   
                {%elseif elemento.servicio is not null%}
                    {%set color = 'azul'%}
                    {%set nombre = elemento.servicio.nombre%}
                    {%set url = path('proyecto_principal_servicio_reservar',{'id':elemento.servicio.id}) %}   
                {%elseif elemento.evento is not null%}
                    {%set color = 'rosa'%}
                    {%set nombre = elemento.evento.nombre%}
                    {%set url = path('proyecto_principal_evento_reservar',{'id':elemento.evento.id}) %}   
                {%endif%}
			<div class="datos" style="margin-top:3%;">
				<p>
					{{elemento.fechaInicio.format('d/m/Y')}}  <a href="reservas.html" class="{{color}}">&nbsp;&nbsp;&nbsp;cod-{{elemento.id}}&nbsp;&nbsp;&nbsp;</a>
					{#<span id="circulo" class="verde"> </span>#}
					<a href="{{url}}"> {{nombre}} </a>
				</p>
				<p>
					&nbsp;
				</p>
                {%if elemento.evento is  null%}
				<p>
					Fecha de inicio: <strong>{{elemento.fechaInicio.format('d/m/Y H:i:s')}} </strong>
				</p>
				<p>
					Fecha de finalización: <strong>{{elemento.fechaFin.format('d/m/Y H:i:s')}} </strong>
				</p>
                {%else%}
				<p>
					Fecha del evento: <strong>{{elemento.fechaInicio.format('d/m/Y H:i:s')}} </strong>
				</p>
                {%endif%}


				<p>
					Estado de la Reserva: <strong>Finalizada </strong>
				</p>
				<div class="otras">
					<h4><a href="javascript:void(0)" reserva="{{elemento.id}}" id="botonBorrarReserva">Borrar registro</a></h4>
				</div>
			</div>
			<div class="clearfix"></div>

			{%endif%}
			{%endfor%}

		</div>
	</aside>
	<div class="clearfix" ></div>
	<!-- Text Section End -->

	<div class="clearfix" ></div>
	<!-- Text Section End -->
	{% render controller('ProyectoPrincipalBundle:Espacio:widget', { 'titulo':'Mis espacios','numResults': 4,'paginacion':true,'proveedor':true,'cliente':false,'idRelacionado':user.id }) %}
	<!-- Work Links Section End -->

	<div class="clearfix" ></div>
	<!-- Text Section End -->
	{% render controller('ProyectoPrincipalBundle:Evento:widget', { 'titulo':'Mis eventos','numResults': 4,'paginacion':true,'proveedor':true,'cliente':false,'idRelacionado':user.id }) %}
	<!-- Work Links Section End -->

	<div class="clearfix" ></div>
	<!-- Text Section End -->
	{% render controller('ProyectoPrincipalBundle:Servicio:widget', { 'titulo':'Mis servicios','numResults': 4,'paginacion':true,'proveedor':true,'cliente':false,'idRelacionado':user.id }) %}
	<!-- Work Links Section End -->

	<div class="clearfix"></div>
	<!-- Text Section End -->
	{% render controller('ProyectoPrincipalBundle:Sede:widget', { 'titulo':'Mis sedes','numResults': 4,'paginacion':true,'proveedor':true,'cliente':false,'idRelacionado':user.id }) %}
	<!-- Work Links Section End -->

	<div class="clearfix"></div>

	{# render controller('ProyectoPrincipalBundle:Sede:widget', { 'titulo':'He contratado','numResults': 4,'paginacion':true,'proveedor':false,'cliente':true,'idRelacionado':user.id }) #}

	<div class="clearfix"></div>

</div>

<!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

<!-- DON'T TOUCH THIS SECTION -->
{%endblock%} 